 <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item sidebar-category">
        <p>Betteractyl - Acktar#6724</p>
        <span></span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="mdi mdi-cube menu-icon"></i>
          <span class="menu-title">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deploy">
          <i class="mdi mdi-airplay menu-icon"></i>
          <span class="menu-title">Deploy Server</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="mdi mdi-account-box menu-icon"></i>
          <span class="menu-title" data-bs-toggle="modal" data-bs-target="#modal-default">Login Credentials</span>
        </a>
      </li>
      <hr class="text-white">
      <li class="nav-item">
        <a class="nav-link" href="/afk">
          <i class="mdi mdi-console menu-icon"></i>
          <span class="menu-title">AFK Portal</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="mdi mdi-credit-card menu-icon"></i>
          <span class="menu-title" data-bs-toggle="modal" data-bs-target="#modal-redeem">Redeem Coupons</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store">
          <i class="mdi mdi-emoticon menu-icon"></i>
          <span class="menu-title">Resources Shop</span>
        </a>
      </li>
    </ul>
  </nav>